/* custom-flex-box-grid.css */

@import '../../node_modules/flexboxgrid2/src/flexboxgrid2.css';

/*
 * variables are repeated in media.css to avoid circular dependency
 * make sure to keep in sync
 */
:root {
  --gutter-width: 16px;
  --xs-min: 0rem;
  --sm-min: 480px;
  --md-min: 960px;
  --lg-min: 1200px;
  --xl-min: 1600px;
}
