/* custom-flex-box-grid.css */

@import '../../node_modules/flexboxgrid2/src/flexboxgrid2.css';

:root {
  --gutter-width: 16px;
  --xs-min: 0rem;
  --sm-min: 480px;
  --md-min: 960px;
  --lg-min: 1200px;
  --xl-min: 1600px;
}

@custom-media --media-xs (width < --sm-min);
@custom-media --media-s (width < --md-min);
@custom-media --media-m (width < --lg-min);
@custom-media --media-l (width < --xl-min);
@custom-media --media-xl (width >= --xl-min);
