@import "./fonts";
@import "./borders";
@import "./typography";
@import "./shame";
@import "./sizes";
@import "./colors";
@import "./custom-flex-box-grid";

:root {
  --black: #2C313B;
  --background-gray: #F9F8F8;
}

* {
  margin: 0;
}

body {
  background-color: var(--background-gray);
}
