@import "../../styles";

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px ;
  height: 48px;

  & .logo {
    display: flex;
    height: 48px;

    & img {
      height: 48px;
      width: 48px;
    }

    & .logo-text {
      flex-direction: row;
      padding-left: 8px;
      white-space: pre-wrap;
      font-size: 20px ;
      line-height: 22px;
    }
  }

  & nav {
    align-self: center;

    & .header-link {
      color: var(--color-black);
      padding: 16px;
      margin: 16px 0;
      display: inline-block;
    }
  }



}
